# Langchain Core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Huggingface Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
pandas

streamlit
grandalf
PyPDF
beautifulsoup4
langchain-text-splitters
langchain-experimental
chromadb
wikipedia
faiss-cpu

youtube-transcript-api 
tiktoken 